html {
    font-size: 12px;
}


.fira-mono-regular {
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.fira-mono-medium {
    font-family: "Fira Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.fira-mono-bold {
    font-family: "Fira Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Fira Mono', monospace;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

a {
    color: #51c892
}

.nav-item:hover {
    background-color: black !important;
    transition: background-color 0.8s ease;
}

.nav-link {
    color: white !important;
}

.nav-item {
    border: 1px solid #000;
}

.control-label {
    color: white;
}

.table {
    color: white;
}

.btn-primary {
    background-color: darkslategray;
    border-color: black;
    margin-top: 26px;
    margin-bottom:10px;
}

.btn-primary:hover {
        background-color: black;
        border-color: black;
}

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #0b5ed7;
        border-color: black;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

.form-control,
label,
.text-danger {
    color: black;
}

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

body {
    background-color: #323232;
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.cards {
    background-color: #2f423f; 
    border: 1px solid #333;
    border-radius: 10px;
    transition: transform 0.8s;
    cursor:pointer;
}

.cards:hover {
        transform: scale(1.02);
        opacity:0.8;
    }